on:
  - push

jobs:
  build-xdia:
    name: Build xdia on Windows
    runs-on: windows-latest
    steps:
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.10'
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Build
      run: |
        cmake -Ssrc/xdia -Bbuild -Ax64
        cmake --build build --config Release --parallel --verbose
        cmake --install build --prefix dist
    - name: Test
      run: set "MSDIA_PATH=./dist/msdia140.dll" & ./dist/xdia.exe ./tests/hello-wdm.pdb
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: xdia
        path: dist

  build-xdialdr:
    name: Build xdialdr on Ubuntu
    runs-on: ubuntu-latest
    needs: build-xdia
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: xdia
        path: xdia
    - name: Build
      run: |
        cmake -Bbuild -S.
        cmake --build build --target xdialdr
        cmake --install build --prefix dist
        cd dist; tar -cvf xdialdr.tar *
    - name: Test
      run: |
        export MSDIA_PATH=$PWD/xdia/msdia140.dll
        export XDIA_PATH=$PWD/xdia/xdia.exe
        ./dist/xdialdr ./tests/hello-wdm.pdb
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: xdialdr
        path: dist/xdialdr.tar

  build-py-sdist:
    name: Build pyxdia sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'
      - name: Build sdist
        run: |
          python -m pip install --user build
          python -m build --sdist --outdir dist ./pyxdia
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pyxdia-src
          path: dist/*.tar.gz
          compression-level: 0  # Already compressed

  build-py-wheels:
    needs: ["build-py-sdist", "build-xdia", "build-xdialdr"]
    name: Build pyxdia wheel ${{ matrix.wheel }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { arch: arm64,   wheel: cp310-macosx_arm64,      os: macos-latest     }
          - { arch: x86_64,  wheel: cp310-macosx_x86_64,     os: macos-15-intel   }
          - { arch: x86_64,  wheel: cp310-manylinux_x86_64,  os: ubuntu-latest    }
          - { arch: aarch64, wheel: cp310-manylinux_aarch64, os: ubuntu-24.04-arm }
          - { arch: x86_64,  wheel: cp310-win_amd64,         os: windows-latest   }
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Install xdia artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: xdia
        path: pyxdia/pyxdia/bin
    - name: Download xdialdr artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      if: ${{ !startsWith(matrix.os, 'windows') }}
      with:
        name: xdialdr
    - name: Install xdialdr
      if: ${{ !startsWith(matrix.os, 'windows') }}
      run: tar -xvf xdialdr.tar -C pyxdia/pyxdia/bin
    - name: Build wheel
      uses: pypa/cibuildwheel@298ed2fb2c105540f5ed055e8a6ad78d82dd3a7e # v3.3.1
      with:
        package-dir: pyxdia
        output-dir: wheelhouse
      env:
        CIBW_ARCHS_MACOS: ${{ matrix.arch }}
        CIBW_BUILD: ${{ matrix.wheel }}
        CIBW_TEST_COMMAND: PDB_TEST_FILES={project}/tests python -m unittest discover -v -s {package}/tests
        CIBW_TEST_COMMAND_WINDOWS: set "PDB_TEST_FILES={project}/tests" & python -m unittest discover -v -s {package}/tests
        CIBW_BUILD_VERBOSITY: 1

        # FIXME: This is based only on blink requirement. Check the binary to find the
        #        actual requirement. This works for 1.1.0 release.
        MACOSX_DEPLOYMENT_TARGET: ${{ matrix.arch == 'arm64' && '14' || '13' }}
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: pyxdia-whl-${{ matrix.wheel }}
        path: ./wheelhouse/*.whl

  upload_pypi:
    name: Upload wheels to PyPI
    needs: ["build-py-wheels"]
    environment:
      name: pypi
      url: https://pypi.org/p/pypcode
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    # Upload to PyPI on every tag starting with 'v'
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - name: Download pyxdia source and wheels
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: pyxdia-*
          merge-multiple: true
          path: dist
      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

  release:
    name: Release
    needs: ["build-py-wheels"]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
    - name: Download xdia artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: xdia
        path: xdia
    - name: Download xdialdr artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: xdialdr
    - name: Compress artifacts
      run: |
        mkdir dist
        pushd xdia; zip ../dist/xdia.zip *; popd
        xz xdialdr.tar && mv xdialdr.tar.xz dist
        ls dist
    - name: Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
      with:
        files: dist/*
